<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->

    <!--========== BOX ICONS ==========-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />

    <!--========== CSS ==========-->
    <link rel="stylesheet" href="../css/styles.css" />

    <title>Zoho Catalyst</title>
  </head>
  <body>
    <!--========== HEADER ==========-->
    <header class="header"></header>

    <!--========== NAV ==========-->
    <div class="nav" id="navbar"></div>

    <!--========== CONTENTS ==========-->

    <main class="main"></main>

    <!--========== MAIN JS ==========-->
    <script src="../js/main.js"></script>
  </body>
</html>
